{{#each Posts as |Posts|}}
  <section class="blog-post">
    <div class="blog-post-info">
      <h2>
      <a class="blog-post-title" href="/Post/{{Post.id}}">{{Post.title}}</a>
      </h2>
    <p class="blog-post-date">{{Post.date_created}}</p>
    </div>
    <p class="blog-post-description">{{Post.description}}</p>
  </section>
{{/each}}