{{#each Posts as |Posts|}}
  <section class="post">
    <div class="post-info">
      <h2>
      <a class="post-title" href="/Post/{{Post.id}}">{{Post.title}}</a>
      </h2>
    <p class="post-date">{{Post.date_created}}</p>
    </div>
    <p class="post-description">{{Post.description}}</p>
  </section>
{{/each}}