<section id="signin-section" class="authentication-section">
  <h2 class="authentication-name">Sign In</h2>
  <form id="signin-form" class="authentication-form">
    <label for="email" class="form-label-name">Email</label>
    <input id="user-email-signin" type="text">
    <label for="passwword" class="form-label-name">Password</label>
    <input id="user-password-signin" type="text">
    <input type="submit" value="Sign In" class="form-label-name form-button">
  </form>
  <h3><a href="./signup">New member ? Sign Up</a></h3>
</section>

<script src="./js/login.js"></script>