<section id="blogpost-section">
  <form id="blogpost-form" class="post-section hide">
      <label for="post-title" class="form-post-name">Title</label>
      <input id="user-title-blogpost" type="text">
      <label for="post-description" class="form-post-description">Description</label>
    <textarea name="post-text-description" id="user-description-post" cols="30" rows="10"></textarea>
    <input type="submit" value="Create" class="form-label-name form-button">
  </form>
  <button class="new-post-button">+ New Post</button>
</section>

<script src="./js/blogpost.js"></script>