<section id="signup-section" class="authentication-section">
  <h2 class="authentication-name">Sign Up</h2>
  <form id="signup-form" class="authentication-form">
    <label for="name" class="form-label-name">Name</label>
    <input type="text" id="user-name-signup">
    <label for="email" class="form-label-name">Email</label>
    <input type="text" id="user-email-signup">
    <label for="password" class="form-label-name">Password</label>
    <input type="text" id="user-password-signup">
    <input type="submit" class="form-label-name form-button" value="Sign Up">
  </form>
  <h3><a href="./login">Already a member ? Sign In</a></h3>
</section>

<script src="./js/signup.js"></script>